<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script> 
    <link rel="stylesheet" href="/css/index-styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">


    <script type="importmap">
        {
          "imports": {
            "three": "./build/three.module.js",
            "three/examples/jsm/controls/OrbitControls":"./jsm/controls/OrbitControls.js",
            "three/examples/jsm/libs/stats.module":"./jsm/libs/stats.module.js",
            "three/examples/jsm/libs/dat.gui.module":"./jsm/libs/dat.gui.module.js"
          }
        }
    </script>
</head>
<body>
    <div class="header" id="top">
        <div class="header-text">
            <div class="content">

                <h1>Surf The Globe</h1>
                <h2>Select to view the globe or play a game!</h2>
                <button class="btn"><a href="/news">Globe</a></button>
                <button class="btn"><a href="/game">Game</a></button>
                <script type="module" src="/js/globe.js"></script>
            </div>
        </div>
    </div>
    
</body>
</html>